#wheelnavdiv{
  width: 500px;
  max-width: 99vw;
  height: 4 00px;
  margin-left: auto;
  margin-right: auto;
}
#wheelnavdiv .carousel-cell-image{
  height: 270px;
}
.cars-intro{
  display: block;
  position: static;
}
@media (min-width: 500px){
.autocad{
  width: 48%;
  display: inline-block;
position: relative;

}
.tech{
  width: 48%;
  display: inline-block;
  margin-top: 0px !important;

}
}
.tech *{
  margin-top: 0px !important;
}
.techh5{

}
.detailsprv{
margin-top: -100px !important;
}
.hidden{
  display: none;
}
.detailsdiv{
  display: none;
}