.inline-block{
	display: inline-block;
}
.border{
	border: solid 2px #000;
}
.borderred{
	border: solid 2px red;
}
.footer-logo{
	max-width: 300px !important;
}
.redcolor{
	color: red;
}
.padlr{
	padding-left: 3px;
	padding-right: 3px;
}
.padl{
	padding-left: 3px;
}
.margin-left-0{
	margin-left: 0px !important;
}

@media (min-width: 779px){

	.padlr{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padl{
		padding-left: 70px;
	}
	.padr{
		padding-right: 70px;
	}
	.hidden-big{
    display: none !important; 
  }
}

@media (max-width: 769px){
  .hidden-small{
   display: none !important; 
 }

}
/*--------------uppar mein common elements----------*/
