nav .active{
	/*background-color: red !important;*/
}
.footer-logo{
	width: 6050px !important;
}
.nav-grid-container{
	max-width: 1180px;
}
.inline-block{
	display: inline-block;
}
.color-black{
	color: #000;
}
.border{
	border: solid 2px #000;
}
.borderred{
	border: solid 2px red;
}
.footer-logo{
	max-width: 300px !important;
}
.redcolor{
	color: #c73131;
}
.padlr_new{
	padding-left: 3px;
	padding-right: 3px;
}
.padl_new{
	padding-left: 3px;
}
.margin-left-0{
	margin-left: 0px !important;
}

@media (min-width: 779px){

	.padlr_new{
		padding-left: 70px;
		padding-right: 70px;
	}
	.padl_new{
		padding-left: 70px;
	}
	.padr_new{
		padding-right: 70px;
	}
	.hidden-big{
    display: none !important; 
  }
}

@media (max-width: 769px){
  .hidden-small{
   display: none !important; 
 }

}
/*--------------uppar mein common elements----------*/
