.sub-header{
	height: 350px;
	max-height: 60vh;
}
.padding-left-0{
	padding-left: 0px !important;
}
.padding-right-0{
	padding-right: 0px !important;
}
.layer {
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.first-section{
	margin-top: 20px;
}
.sub-header-banner-contactus{
	background-image:  url('../../img/general/cars/teamsbg.png');
}
.sub-header-banner-sponsors{
	background-image:  url('../../img/general/bgs/sponsorsbg.png');
	background-position:0 top ;
}
.sub-header-banner-teams{
	background-image:  url('../../img/general/cars/teamsbg.png');
	background-position:0 top ;
}
.sub-header-banner-cars{
	background-image: url('../../img/general/cars/carf1bg.png');  
}
.parallax--banner-1{
	background-image: url('../../img/general/bgs/supportus_parallaxbanner1.png');
}
.parallax--banner-2{
	
	background-image: url('../../img/general/bgs/supportus_parallaxbanner2.png');
	background-position:0;
}
.parallax--banner-cars_1{
	background-image: url('../../img/general/bgs/carsbg1.png');
}
.parallax--banner-cars_2{
	background-image: url('../../img/general/bgs/carsbg2.png');
}

.member-prv16 {
	width: 150px;
	height: 50px;
	margin-bottom: 10px;
	padding: inherit;
	vertical-align: middle;
	display: inline-block;
	line-height: 300%;
	background-color: #da072d;
	text-align: center;
	color: #fff;
	font-weight: bold;

}
.team-position{
	position: absolute;
	bottom: -3px;
	left: 22%;
	width: ;
	font-size: 90%;
	color: #eee;
}
.right-sidebar .widgetheading{
	border-bottom: #e9e9e9 1px solid;
	padding-bottom: 9px;
	font-weight: 700;
	margin-bottom: 20px;
}
.right-sidebar .right-heading a{
	color: #353535;

	display: inline-block;
}
.right-sidebar .right-heading{
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin: 0 0 10px 0;
	font-size: 16px;
	font-weight: 600;
}
.right-sidebar a{
	text-decoration: none;
}
.right-sidebar a:hover{
	color: red;	
}
.right-sidebar .right-para{
	color: #656565;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	margin: 0 0 10px;
}
.right-sidebar .right-img{
	max-width: 100%;
	width: 20%;
	height: auto;
	display: inline-block;
	margin: 0 15px 15px 0;
	vertical-align: middle;
}
.right-section .written-material{
	display: inline-block;
	width: 73%;
	vertical-align: middle;
}
.right-sidebar .recent{
	list-style: none;
}

.brochurediv{
	text-align:center !important;
	display: block;
	margin-bottom: 30px;
}
.brochurediv .issuuembed{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width:400px ){
	
	.member-prv16{
		width: 120px;
		height: 40px;
	}
}
@media (max-width: 540px){
	.team-position{
		bottom: 0px;
		left: 28.5%;
		font-size: 85%;
	}
}
/*
16
$team_prv16=["Tribhuvan Singh","Vyom Gautam","Yash Chabbra",
					"Sehdev Sikka","Rohan Gupta","Aditya Tiwari",
					"Ritesh Tekriwal","Arsel Hasan","Arjun Wadhna",
					"Tanay Shah","Vatsal Patel","Saurabh",
					"Ansh Gandhi","Chitranjan","Tejas Kothari",
					"Poojary","Sehdev Sikka","Deep Doshi",
					"Kiran Jomy","Apoorv Kakkar","Abhay Singh"
					];
